body{
    overflow: hidden;
}
#contact-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.social-icon-box-container {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.social-icon-box {
    height: 24px;
    width: 24px;
    background-color: #00486c;
    border-radius: 3px;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.fixed-top {
    background-color: #00486c;
    z-index: 10;
   
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 3px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 30;
}

.back-to-top a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.back-to-top:hover {
    background-color: #1896d2;
}

.enquiry{
    height: 95px;
    width:40px;
    position: fixed;
    top:40%;
    right:0%;
    background-color: #00486c;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer; 
}
.enquiry span{
    color: white;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transform: rotate(90deg);
}
.offer{
    height: 95px;
    width:40px;
    position: fixed;
    top:40%;
    left:0%;
    background-color: #00486c;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
   
    cursor: pointer; 
}
.offer span{
    color: white;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transform: rotate(90deg);
}
.nav-link {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.009rem;
}

.hero-bg1 {
    background-image: url(../img/slider1.webp);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    transition:all 1s ease-in;
    visibility: 3s;
}
.hero-bg2 {
    background-image: url(../img/slider2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition:all 1s ease-in;
    visibility: 3s;
   
}
.hero-bg3 {
    background-image: url(../img/slider3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition:all 1s ease-in;
    visibility: 3s;
}
.hero-bg4 {
    background-image: url(../img/slider4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition:all 1s ease-in;
    visibility: 3s;
   
}
.hero-bg5 {
    background-image: url(../img/slider5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition:all 1s ease-in;
    visibility: 3s;
}
.opacity-bg-dark{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity:0.7;
}
.hotel-bg-content1{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.009rem;
    width: 70%;
    height: 25%;
    color: white;
    margin-top: 12%;
}
.hotel-bg-content1 h2{
    transition:3s;
    /* visibility: 3s; */
    
}
.hotel-bg-content1 div a{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 50px;
    box-shadow: 0 5 25 rgba(0,0,0,0.25);
    
}
.hotel-bg-content1 div a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    background-color: #00486c;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 19px;
    border-radius: 27px;
}
.hotel-bg-content1 div a span:nth-child(2){
    color: #00486c;
    background-color: #fff;
    overflow: hidden;
    z-index: 2;
    font-size: 19px;
    transition: 0.5s;
    clip-path: polygon(60% 0,100% 0%,100% 100%,60% 100%,40% 53%);
}
.hotel-bg-content1 div a span:nth-child(2):hover{
    
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 58%);
}
.hotel-bg-content1 div a span:nth-child(1):hover ~ span:nth-child(2){
    
clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 55%);
}

.hotel-bg-content2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.009rem;
    width: 50%;
    height: 25%;
    color: white;
    margin-top: 10%;

}
.hotel-bg-content3{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.009rem;
    width: 50%;
    height: 25%;
    color: white;
    margin-top: 10%;

}
.menu-header span {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: larger;
}

.btnToggleOffcanvas {
    color: #fff;
    display: none;
    font-size: 30px;
}
.enquiry-block{
    position: fixed;
    top:35%;
    right:5%;
    z-index:30;
    display:none;
 }
@media screen and (max-width:991px) {
    .btnToggleOffcanvas {
        display: block;
        color: #fff;
    }

    .social-icon-box-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
    }

    .menu-header span {
        display: none;
    }
    .enquiry-block{
        position: absolute;
        top:30%;
        right:2%;
        z-index:300;
    }

}



@media only screen and (min-width:400px) and (max-width:500px) {

    #contact-info {
        font-size: 12px;
        letter-spacing: 1px;
        flex-direction: column;
    }

    .social-icon-box-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
    }

    .social-icon-box-container .social-icon-box:nth-child(1) {
        margin-left: 50px;
    }

}
   /* Room Card Css Start */
   swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    border-radius: 10px;
  }
  swiper-slide .card{
      border-radius: 10%;
  }
  swiper-slide .card img {
    display: block;
    width: 100%;
    border-radius: 10%;
  }
    /* Room Card Css End */
    
   
    /* Our Staff CSS End */

   /* anim CARD1 CSS  Start*/
   .anim
{
   overflow: hidden;
   border-radius: 20px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.anim:hover{
   background-color: hsla(282, 90%, 42%, 0.302); 
}
.anim::before{
    content: '';
    height: 140%;
    width: 150px;
    background: linear-gradient(#00ccff,#f701f7);
    position: absolute;
    animation: animate 4s linear infinite;
}
.anim::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: white;
    border-radius: 16px;
    
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
    /* anim CARD1 CSS  End*/

    .counter-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200px;
        width:180px;
        border-radius: 15px;
        box-shadow: 2px 2px 5px #000000db;
    }
    .counter-card div:nth-child(1){
        background-color: hsla(200, 100%, 21%, 0.8);
        position: relative;
        height: 65%;
        width: 100%;
        border-radius: 15px;
       
    }
    #counter-logo-div{
        position: absolute;
        top: -7px;
        left: 20%;
        width: 60%;
        height: 60%;
        z-index:10;
        background-color: #00486c;
    }
    .counter-card div:nth-child(2){
        background-color: #fff;
        height: 35%;
        width: 100%;
        border-radius: 10px;
    }
    /* ----------Loading Start----------------- */
.loading
{
   background-color:#ffffff;
   height:8px;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   width:220px;
   justify-content:left;
   align-items:center;
   margin-top:3px;
   margin-left: auto;
   margin-right: auto;
	/* border-radius:20%; */
  border-radius:12px;
}
.loading div
{
    background-color:#00486c;
	width:50px;
	 height:5px;
	 margin-left:0px;
     border-radius:12px;   
}
/* ----------Loading End----------------- */

/* ===========Filter start============== */
.filter{
    color:#00486c;
    font-weight: 400;
    cursor: pointer;
}
.filter-arrow{
    color:#00486c;
    font-weight: 500;
    cursor: pointer;
}
/* ===========Filter start============== */

/* ============Our Staff Swiper CSS Start============== */
#body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

 

  .p {
    font-weight: 600;
  }

  .sector {

    height: 20rem;
    width: 25rem;
  }

  /* card slider start */
  * {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
  }

  /* #body{
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #efefef;
    } */

  .slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }

  .slide-content {
    margin: 0px 40px;
    overflow: hidden;
    border-radius: 25px;
  }

  .cardsm {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
  }

  .image-content,
  .cardsm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }

  .image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px 0;

  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00486c;
    border-radius: 25px 25px 0 25px;

  }

  .overlay::before,
  .overlay::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #00486c;
    right: 0;
    bottom: -40px;
  }

  .overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
  }

  .cardsm-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;
  }

  .cardsm-image .cardsm-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border: 4px solid #4070f4; */
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }

  .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
  }

  .bnt {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #00486c;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .bnt:hover {
    background-color: #265df2;
  }

/* ============Our Staff Swiper CSS End============== */