.static-text{
    /* font-size: 30px; */
}

.dynamic-text{
     margin-left: 7%;
     margin-top: -39px;
     /* background-color: red; */
     height:35px;
     line-height: 37px;
     overflow: hidden;
}
.dynamic-text li span{
    position: relative;
    font-size:25px;
    
}

.dynamic-text li span::after{
    content: '';
    height: 102%;
    left:0;
    /* top:6px; */
    width: 100%;
    border-left: 2px solid black;
    background-color: white;
    position: absolute;
    animation: typing 1.5s steps(10) infinite;
    
}
.dynamic-text li{
    position: relative;
    animation: slide 6s steps(4) infinite;
    top:0;
   
}
@keyframes slide {
    100%{
        top:-160px;
    }
    
}
@keyframes typing {
    100%{
        left:115%;
      
    }
    
}